.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid rgb(244, 244, 244);
}

.chat__details {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.chat__details > p {
  margin-top: 3px;
  color: gray;
}

.chat__timestamp {
  color: gray;
}

.chat__image {
  margin-right: 20px;
}
