.swipeButtons {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
  padding: 2vw;
  color: rgb(255, 144, 8);
}

.swipeButtons__left {
  padding: 2vw;
  color: rgb(253, 74, 74);
}

.swipeButtons__star {
  padding: 2vw;
  color: rgb(114, 181, 249);
}

.swipeButtons__right {
  padding: 2vw;
  color: lightgreen;
}

.swipeButtons__bolt {
  padding: 2vw;
  color: gold;
}
